<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	{% for option in blog_options %}
	
	<title>{{ option.title }}</title>
	<link rel="icon" href="{{option.favicon.url}}" type="image/gif" sizes="16x16">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/
	font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
	
</head>
<body>
	<div class="header-image">	
		<img class="site-logo" src="{{option.site_logo.url}}">
		<img class="header-banner" src="{{option.header_banner.url}}">
	</div>	

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://localhost:8000">हाम्रो नेपाल</a>
			</div>

			<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav">
					<li class="">
						<a href="#offers">
							Offers
						</a>
					</li>

					<li class=""> 
						<a href="#review">
							Memo
						</a>	
					</li>

					<li class=""> 
						<a href="#blog">
							Blog
						</a>	
					</li>

					<li class=""> 
						<a href="#blog">
							UNESCO sites
						</a>	
					</li>

					<li class=""> 
						<a href="#blog">
							Must Visit
						</a>	
					</li>
					
					<li class=""> 
						<a href="#blog">
							Gallery
						</a>	
					</li>

					<li class=""> 
						<a href="#blog">
							Land Marks
						</a>	
					</li>

					<li class=""> 
						<a href="#blog">
							Tourist Hotline
						</a>	
					</li>
					<li class=""> 
						<a href="https://www.facebook.com/thenirpa" target="blank">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>	
					</li>
					<li class=""> 
						<a href="#blog">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>	
					</li>
					<li class=""> 
						<a href="#blog">
							<i class="fa fa-youtube" aria-hidden="true"></i>
						</a>	
					</li>
				</ul>	



				<form class="navbar-form navbar-right" role="search" method="get" action="#">
					<div class="form-group">
						<input type="text" name="search" class="form-control" value="">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
			</div>	
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-0">
				<div class="panel panel-default">	
					<div class="panel-body">
						<button class="btn btn-home">
							Blog
						</button>
						<img src="static/images/Swayambhunath.jpg" height="250px">
					</div>
				</div>	
			</div>

			<div class="col-md-4 col-md-offset-0">
				<div class="panel panel-default">	
					<div class="panel-body">
						<button class="btn btn-home">
							Blog
						</button>
						<img src="static/images/rafting.jpg" height="250px">
					</div>
				</div>	
			</div>

			<div class="col-md-4 col-md-offset-0">
				<div class="panel panel-default">	
					<div class="panel-body">
						<button class="btn btn-home">
							Blog
						</button>
						<img src="static/images/trekking.jpg" height="250px">
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	<div class="mid-section">
		<button class="btn btn-mid-section">How was it??</button>
		<img src ="static/images/tourism year.jpg" width="100%">
	</div>

	<div class="container">
		<div class="row">
			<div class="packages" id="offers">	
			<h4>Packages & Offers </h4>
			<div class="col-md-6 col-md-offset-0">
				<div class="panel panel-default">	
					<div class="panel-body">
						<div class="offer-description">
							<p>
								This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text
								!!This is sample text !!This is sample text !!This is sample text !!This is sample text	
							</p>	
						</div>
						<div class="offer-image">
							<img src="static/images/offer-swyanbhu.png">
							<br><br>
							<button class="btn btn-home">
								Book
							</button>
						</div>
					</div>
				</div>	
			</div>

			<div class="col-md-6 col-md-offset-0">
				<div class="panel panel-default">	
					<div class="panel-body">
						<div class="offer-description">
							<p>This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!This is sample text !!
							</p>	
						</div>

						<div class="offer-image">
							<img src="static/images/rafting.jpg">
							<br><br>
							<button class="btn btn-home">
								Blog
							</button>
						</div>
					</div>
				</div>	
			</div>

			<div class="col-md-6 col-md-offset-0">
				<div class="panel panel-default">	
					<div class="panel-body">
						<button class="btn btn-home">
							October Fest
						</button>
						<img src="static/images/trekking.jpg" width="100%" height="250px">
					</div>
				</div>	
			</div>

			<div class="col-md-6 col-md-offset-0">
				<div class="panel panel-default">	
					<div class="panel-body">
						<button class="btn btn-home">
							Winter Bonanza
						</button>
						<img src="static/images/trekking.jpg" width="100%" height="250px">
					</div>
				</div>	
			</div>					
						

						</div>	
					</div>
	
			</div>	
		</div>

				<div class="row">
			<div class="memo" id="review">	
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Memo & Testomonies
						</div>
						<div class="panel-body">
							<div class="col-md-8">
								<div class="review">
									{% for memo in memos %}
										<h3>{{ memo.author }}</h3>
										<p>{{ memo.description | linebreaks }}</p>
									{% endfor %}
								</div>

								<div class="read-more">
									<button class="btn btn-primary">
										Read More ...
									</button>
									<div class="paginate-memo" style="float: left;">
										{% if is_paginated %}
										  <ul class="pagination">
										    {% if page_obj.has_previous %}
										      <li><a href="?page={{ page_obj.previous_page_number }}#review">&laquo;</a></li>
										    {% else %}
										      <li class="disabled"><span>&laquo;</span></li>
										    {% endif %}
										    {% for i in paginator.page_range %}
										      {% if page_obj.number == i %}
										        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
										      {% else %}
										        <li><a name="review" href="?page={{ i }}#review">{{ i }}</a></li>
										      {% endif %}
										    {% endfor %}
										    {% if page_obj.has_next %}
										      <li><a href="?page={{ page_obj.next_page_number }}#review">&raquo;</a></li>
										    {% else %}
										      <li class="disabled"><span>&raquo;</span></li>
										    {% endif %}
										  </ul>
										{% endif %}	
									</div>
								</div>							
							</div>

							<div class="col-md-4">
								<div class="review-image">
									{% for memo in memos %}
										<img src="{{ memo.featured_image.url }}" width="100%;">
									{% endfor %}	
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>	

	<div class="bottom-section">
		<img src ="static/images/PoonHill.jpg" width="100%">
	</div>			
	{% endfor %}

	<!-- <div class="footer">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<br>
						HamroNepal designed by Nirpa Hang Rai	
					
						Important Links
						<ul>
							<li>Ministry of Foreign Affairs</li>
							<li>Nepal Tourism Board</li>
							<li>Visit Nepal 2020</li>
							<li>Passport office Nepal</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>	 -->
</body>
</html>
